@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-color: #1a73e8;
    --secondary-color: #5f6368;
    --background-color: #f8f9fa;
    --card-background: #ffffff;
    --button-color: #8c8c8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--background-color);

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    width: 80px;
}

.header-title {
    font-size: 1rem;
    color: #5f6368;
    margin: 0;
}

.header-subtitle {
    font-size: 0.8rem;
    color: #5f6368;
    margin: 0;
}

.header-notification {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.card {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.container-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}



.secure-info {
    background-color: #f8f9ff;
    border: 1px solid #e8eaed;
    border-radius: 4px;
    margin: 20px 0;
    padding: 15px;
}

.secure-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.shield-icon {
    width: 24px;
    height: 24px;
}

.secure-header h3 {
    color: var(--primary-color);
    flex-grow: 1;
    text-align: left;
    font-size: 1rem;
}

.arrow {
    color: var(--primary-color);
}

.info-text {
    color: var(--secondary-color);
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: left;
}

.form-group {
    margin: 30px 0;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 0.9rem;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--primary-color);
}

.consult-button {
    width: 100%;
    padding: 15px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.consult-button:hover {
    background-color: #757575;
}

.footer-text {
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 0.8rem;
}